html {
  font-family: 'Courier New', Courier, 'Lucida Sans Typewriter',
    'Lucida Typewriter', monospace;
}

.parallax img {
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;

  min-height: 100vh;

  background-color: #eae7dc;
}

main {
  flex: 1 0 auto;
}

p {
  font-size: 16px;

  color: black;
}

.icons {
  font-size: 28px;

  text-align: center;
}

.icons:hover {
  font-size: 35px;
}

#title {
  font-size: 30px;
  font-weight: bold;

  padding-top: 7px;
  padding-left: 35px;
}

#main-heading {
  font-weight: bold;

  margin-left: 3%;
  padding-top: 2%;
}

#profilepic {
  margin-top: 1%;
}

#customerSubmit {
  margin-left: 1%;
}

.input-field input:focus,
label,
textarea:focus {
  color: black !important;
}

.row .input-field input:focus,
textarea:focus {
  border-bottom: 1px solid black !important;
  box-shadow: 0 1px 0 0 black !important;
}

.input-field .prefix.active {
  color: black;
}

.input-field label {
  color: black;
}

.input-field input[type='text']:focus label textarea[type='text']:focus {
  color: black;
}

.input-field input[type='text']:focus,
textarea[type='text']:focus {
  border-bottom: 1px solid black;
  box-shadow: 0 1px 0 0 black;
}

.input-field input[type='text'].valid,
textarea.valid {
  border-bottom: 1px solid black;
  box-shadow: 0 1px 0 0 black;
}

.input-field input[type='text'].invalid,
textarea.invalid {
  border-bottom: 1px solid black;
  box-shadow: 0 1px 0 0 black;
}

@media only screen and (max-width: 768px) {
  .parallax img {
    position: absolute;

    float: right;

    width: auto;
    height: 500px;
  }
}
