html {
  background-image: url('/assets/bulb.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.mainpage__wrapper {
  max-height: 100vh;
  scroll-snap-type: mandatory;
  /* scroll-snap-points-y: repeat(3rem); */
  scroll-snap-type: y mandatory;
}

.scroll-child {
  scroll-snap-align: start;
}
